
.containerSearchtext{
    display: grid;
    grid-template-columns: 35%  25% 20% 15%;
    padding: 1em;
    select {
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
      }
    .containerSearchtextSelect{
        position: relative;
        display: flex;
        width: 20em;
        height: 3em;
        line-height: 3;

        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
        select {
            flex: 1;
            padding: 0 .5em;
            color: #fff;
            cursor: pointer;
            &::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: #34495e;
                cursor: pointer;
                pointer-events: none;
                -webkit-transition: .25s all ease;
                -o-transition: .25s all ease;
                transition: .25s all ease;
              }
              &:hover{
                color:white;
              }
        }
        
        
    }
    .containerSearchtextInput{
        position: relative;
        display: flex;
        width: 25em;
        height: 3em;
        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
        text-align: center;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            background: #34495e;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
          }
        input{
            width: 25em;
            cursor: pointer;
            top: 0;
            right: 0;
            padding: 0 1em;
            color: #333;
            font-size: 1.2rem;
            background-color: rgb(255, 255, 255);
            display: block;
            transition: all 0.3s;

 
        }
    }
    .containerSearchtextButton{
        text-align: center;
        button{
        position: relative;
        width: 10em;
        height: 3em;
        line-height: 3;
        color: #fff;
        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
        span{
            color: #fff;

        }
        }
        
    }
    .containerTypeUsertextSelect{
        position: relative;
        display: flex;
        width: 25em;
        height: 3em;
        line-height: 3;

        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
        select {
            flex: 1;
            padding: 0 .5em;
            color: #fff;
            cursor: pointer;
            &::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: #34495e;
                cursor: pointer;
                pointer-events: none;
                -webkit-transition: .25s all ease;
                -o-transition: .25s all ease;
                transition: .25s all ease;
              }
              &:hover{
                color:white;
              }
        }

    }

}