/*
*BZ00027            090621     Install react-loading for project

*/
.loadingStyle{
    top: 50%;
    left: 50%;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
  }